{% load static %}

<html>
    <head>
        <title>Alumni tracking System !!</title>
        <link rel="stylesheet" href="{% static 'welcome/style.css' %}">
    </head>
    <body>
        <div style="float: right;margin-right:300px; font: 200% cursive; color: red;"><img src="{% static 'welcome/logo2.png' %}"><br>#Alumni Forever!!</div>
        <br>
        <div style="margin-top:130px">
            <span style="margin-left:100px;font: italic 100px/100px Tangerine, serif;color : rgb(51, 10, 0);">A</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(77, 15, 0);">l</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(102, 20, 0);">u</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(128, 26, 0);">m</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(153, 31, 0);">n</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(179, 36, 0);">i</span>
            <br>
            <div style="float: right;margin-right:200px;width: 350px;height:150px;border: 3px solid #ff9900;padding: 10px;">
                <ul>
                    <li>
                    <a href="phase1/login_p1"><input type="button" value="Alumni Member SignIn" style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:15px;'></a><br>
                    </li>
                    <li>
                    <a href="phase1/login_p1"><input type="button" value="Alumni Member SignUp" style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:15px;'></a><br><br>
                    </li>
                    <li>
                    <a href="phase2/login_p2"><input type="button" value="Institution SignIn" style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:15px;'></a><br>
                    </li>
                    <li>
                    <a href="phase2/login_p2"><input type="button" value="Institution SignUp" style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:15px;'></a><br><br>
                    </li>
                </ul>
            </div>
            <span style="margin-left:150px;font: italic 100px/100px Tangerine, serif;color : rgb(6, 16, 45);">T</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(9, 27, 67);">r</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(12, 37, 90);">a</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(15, 46, 112);">c</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(18, 55, 135);">k</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(21, 64, 157);">i</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(24, 74, 180);">n</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(28, 83, 202);">g</span>
            <br>
            <span style="margin-left:200px;font: italic 100px/100px Tangerine, serif;color : rgb(0, 51, 0);">S</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(0, 77, 0);">y</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(0, 102, 0);">s</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(0, 128, 0);">t</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(0, 153, 0);">e</span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(0, 179, 0);">m </span>
            <span style="margin-left:0px;font: italic 100px/100px Tangerine, serif;color : rgb(116, 77, 37);">!!</span>
            <br>
        </div>
    </body>
</html>