{% load static %}

<!DOCTYPE HTML>
<html>

<head>
  <title>Messaging - phase2</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
  <link rel="stylesheet" type="text/css" href="{% static 'phase2/style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    function appendText() {
      var txt;
        //document.writeln(document.getElementById("count").value)
      switch(document.getElementById("count").value){
          case "0" :  txt = "<input type='mail' name='to1' style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:12px;'>";txt2 = "<br><br>";
                      document.getElementById("count").value='1';$("form").append(txt, txt2);
                      break;
          case "1" :  txt = "<input type='mail' name='to2' style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:12px;'>";txt2 = "<br><br>";
                      document.getElementById("count").value='2';$("form").append(txt, txt2);
                      break;
          case "2" :  txt = "<input type='mail' name='to3' style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:12px;'>";txt2 = "<br><br>";
                      document.getElementById("count").value='3';$("form").append(txt, txt2);
                      break;
          case "3" :  txt = "<input type='mail' name='to4' style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:12px;'>";txt2 = "<br><br>";
                      document.getElementById("count").value='4';$("form").append(txt, txt2);
                      break;
          case "4" :  txt = "<input type='mail' name='to5' style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:12px;'>";txt2 = "<br><br>";
                      document.getElementById("count").value='5';$("form").append(txt, txt2);
                      break;
          case "5" :  txt = "<input type='mail' name='to6' style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:12px;'>";txt2 = "<br><br>";
                      document.getElementById("count").value=6;$("form").append(txt, txt2);
                      break;
          case "6" :  txt = "<input type='mail' name='to7' style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:12px;'>";txt2 = "<br><br>";
                      document.getElementById("count").value=7;$("form").append(txt, txt2);
                      break;
          case "7" :  txt = "<input type='mail' name='to8' style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:12px;'>";txt2 = "<br><br>";
                      document.getElementById("count").value=8;$("form").append(txt, txt2);
                      break;
          case "8" :  txt = "<input type='mail' name='to9' style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:12px;'>";txt2 = "<br><br>";
                      document.getElementById("count").value=9;$("form").append(txt, txt2);
                      break;
          case "9" :  txt = "<input type='mail' name='to10' style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:12px;'>";txt2 = "<br><br>";
                      document.getElementById("count").value=10;$("form").append(txt, txt2);
                      break;
          case "10" :  txt = "<input type='mail' name='to11' style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:12px;'>";txt2 = "<br><br>";
                      document.getElementById("count").value=11;$("form").append(txt, txt2);
                      break;
          case "11" :  txt = "<input type='mail' name='to12' style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:12px;'>";txt2 = "<br><br>";
                      document.getElementById("count").value=12;$("form").append(txt, txt2);
                      break;
          case "12" :  txt = "<input type='mail' name='to13' style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:12px;'>";txt2 = "<br><br>";
                      document.getElementById("count").value=13;$("form").append(txt, txt2);
                      break;
          case "13" :  txt = "<input type='mail' name='to14' style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:12px;'>";txt2 = "<br><br>";
                      document.getElementById("count").value=14;$("form").append(txt, txt2);
                      break;
          case "14" :  txt = "<input type='mail' name='to15' style='border-radius: 15px;background-color:chocolate;font-family:cursive;font-size:12px;'>";txt2 = "<br><br>";
                      document.getElementById("count").value=15;$("form").append(txt, txt2);
                      break;
          default :   document.getElementById("count").value=15;break;
      }
    }
  </script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <h2><a href="home_p2">Alumni Tracking System</a></h2>
        <h3><i>Helloo {{user.username}}</i></h3>
        <div class="slogan" style="float: left; padding-left: 25px;text-align: left; font: 500% 'tangerine', arial; color: brown">#Alumni Forever!!</div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="current" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="home_p2">Home</a></li>
          <li><a href="alumni_p2">Alumni</a></li>
          <li><a href="events_p2">Events</a></li>
          <li class="current"><a href="messaging_p2">Messaging</a></li>
          <li><a href="logout_p2">Logout</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content" style="background-color: rgb(217, 217, 217);color:black;">
      <div id="sidebar_container">
        <img class="paperclip" src="{% static 'phase2/paperclip.png' %}" alt="paperclip" />
        <div class="sidebar">
        <br>
        <h2>Today :</h2>
        <span style="font-size: 20px;font-family:cursive;color:royalblue;">
          {{day}}-{{month}}
          <br>
          #{{year}}!!{{week}}
        </span>
        </div>
        <img class="paperclip" src="{% static 'phase2/paperclip.png' %}" alt="paperclip" />
        <div class="sidebar">
          <br>
          <h2>Latest News</h2>
          <p>Click on the below links in order to go through the latest news in various fields</p>
          <ul>
            <li><a href="news_technology_p2">Technology news</a></li>
            <li><a href="news_science_p2">Science news</a></li>
            <li><a href="news_business_p2">Business news</a></li>
            <li><a href="news_general_p2">General news</a></li>
            <li><a href="news_entertainment_p2">Entertainment news</a></li>
            <li><a href="news_sports_p2">Sports news</a></li>
          </ul>
        </div>
        <img class="paperclip" src="{% static 'phase2/paperclip.png' %}" alt="paperclip" />
        <div class="sidebar">
          <br>
          <h2>History of {{month}}</h2>
          <ul>
            <li>{{desc1}}</li>
            {% if desc2 != "" %}
            <li>{{desc2}}</li>
            {% endif %}
          </ul>
          <h4>On this day in Tech history</h4>
          <a href="{{link}}" alt="#">click to know!!</a>
        </div>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h2>Welcome to Messaging page !!</h2>
        <blockquote>
          <ul>
            <li>You can send messages to interested ones through mail</li>
            <li>The messages are sent by our webiste mail, mentioning the sender's mail id, name</li>
          </ul>
        </blockquote>
        <blockquote>
        <div style="border:5px ridge rgb(255, 51, 51);padding:10px;">
        <form action="messaging_p2" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <label>Select your mail :</label>
          <br>
          <input type="radio" value="{{gmail1}}" id="gmail1" name="from_mail" required>
          <label for="gmail1">{{gmail1}}</label>
          <input type="radio" value="{{gmail2}}" id="gmail2" name="from_mail" required>
          <label for="gmail2">{{gmail2}}</label>
          <br><br><br>
          <label>Subject of mail : </label>
          <input type="text" name="subject" value="" style='border-radius:20px;background-color:chocolate;font-family:cursive;font-size:20px;'>
          <br><br><br>
          <label>Message : </label>
          <textarea name="message" rows="5" cols="50" style='border-radius:20px;background-color:chocolate'></textarea>
          <br><br><br>
          <label for="attachment">Attach File :</label>
          <input type="file" id="attachment" name="attachment" value="choose">
          <br><br>
          <div>
            <label># recipients </label>
            <input type=number value="0" id="count" name="count" readonly>
            <br><br>
            <label>Recipients :</label>
            <br>
          </div>
          <br><br>
          <input type='submit' value="send now">
          <br><br>
          <input type='reset'>
          <br><br>
        </form>
        <button onclick='appendText()' value='Click'>Add Recipient</button>
        </div>
        </blockquote>
      </div>
    </div>
  </div>
</body>
</html>
