{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Generate event - phase1</title>
        <link rel="stylesheet" href="{% static 'phase1/in_style.css' %}">
    </head>
    <body>
        <form action="event_generate_p1" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>{{user.username}}'s account</label>
            <div class="login-wrap">
            <div class="login-html">
            <div class="login-form">
                <h2><i>Create an Event</i></h2>
                <div class="group">
                    <label for="title" class="label">Title of Event :</label>
                    <input type="text" id="title" class="input" name="title" pattern="^[a-zA-Z0-9 ]*$" required>
                </div>
                <div class="group">
                    <label for="description" class="label">Description :</label>
                    <textarea id="description" name="description" rows="5" cols="50" style="border-radius:20px;">
                    </textarea>
                </div>
                <div class="group">
                    <label for="attachment" class="label">Attach Image :</label>
                    <input type="file" id="attachment" name="attachment" required>
                </div>
                <div class="group">
                    <label for="venue" class="label">Venue :</label>
                    <input type="text" id="venue" class="input" name="venue" pattern="^[a-zA-Z0-9, ]*$" required>
                </div>
                <div class="group">
                    <label for="date_time" class="label">Date&Time :</label>
                    <input type="datetime-local" id="date_time" name="date_time" required>
                </div>
                {% if b1 %}
                <div class="group">
                    <label for="to_alumni" class="label">Select alumni :</label>
                    <select id="to_alumni" name="to_alumni[]" multiple size=3>
                        {% for n in alumni_list %}
                        <option value="{{n}}">{{n}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                {% if b2 %}
                <div class="group">
                    <label for="to_inst" class="label">Select Institutions :</label>
                    <select id="to_inst" name="to_inst[]" multiple size=3>
                        {% for n in inst_list %}
                        <option value="{{n}}">{{n}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                <div>
                    <input type="submit" class="label">
                </div>
                <br>
                    <a href="events_p1" alt=""><input type="button" class="view_button" value="back to events page"></a>
                <br>
            </div>
            </div>
            </div>
        </form>
    </body>
</html>